<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpgp.5_i11jaf9aPwrOeF_.aU72sY" Guid="{BA42B933-4A4E-4243-941D-F258F45B43DE}">
                <File Id="filYuEOGRah5j7xTlFfuOm0VJPg4QQ" KeyPath="yes" Source="$(var.BasePath)\CommunityToolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmpFc7ZYWdjJnzhA0vgZPvewzMaY3Y" Guid="{AF52072C-9943-4DF9-8923-F90FFD425DF6}">
                <File Id="filg0Z4zk.zJp0C5Q4rL5TK6nD4Gmc" KeyPath="yes" Source="$(var.BasePath)\Dragablz.dll" />
            </Component>
            <Component Id="cmpJN.NFeYX6kESevcoP7zBlkJmUoI" Guid="{226EA315-A9AD-478F-A64A-510EC346CEEF}">
                <File Id="fil9h2TP1i_Pqi6FRNPvnzooC49N8s" KeyPath="yes" Source="$(var.BasePath)\Emoji.Wpf.dll" />
            </Component>
            <Component Id="cmpSwZSLzrC7QJDdqfvkM5Iy60ay0Y" Guid="{3F7717A1-95E6-4F8D-BC05-D8DFBCC8138A}">
                <File Id="filWz9EBNXb7qBgj8N5_SH1K_mT3fQ" KeyPath="yes" Source="$(var.BasePath)\FFmpeg.AutoGen.dll" />
            </Component>
            <Component Id="cmpJ_H6pCEkJv_dNQO5Aah4ZaFn3Jg" Guid="{E0B99BB7-A0B1-4046-8E83-BA3812AE6B08}">
                <File Id="fil0m2zVfDTJG1khlePvS5dLfTYxK8" KeyPath="yes" Source="$(var.BasePath)\Flurl.dll" />
            </Component>
            <Component Id="cmpXiuEdleo8Z42..3DBmmCn6FOo8Y" Guid="{47D0F7FB-7AD6-4317-9BC7-F2F226E1D793}">
                <File Id="filbQ0AoYSiICT3W5fH0QZozESoqG4" KeyPath="yes" Source="$(var.BasePath)\Flurl.Http.dll" />
            </Component>
            <Component Id="cmpvnO4BqKq6VmcCUW.1PoUBFkdR7c" Guid="{499F6BA1-E509-4922-BA5C-3CF66FE5B193}">
                <File Id="filzmUtU8YqA_UkfDDdDQxbAzS5q2o" KeyPath="yes" Source="$(var.BasePath)\FlyleafLib.Controls.WPF.dll" />
            </Component>
            <Component Id="cmpHi8rAZOKf9JUiDaTZTHWNMZRy2Q" Guid="{2E7378E9-8598-4286-8C25-342E334EA27D}">
                <File Id="filrrpCB6UwLHvYq3oSuzoSvkJhgeE" KeyPath="yes" Source="$(var.BasePath)\FlyleafLib.dll" />
            </Component>
            <Component Id="cmpTDj2W_8.pXjYWXF.c.u0fqMIt9Y" Guid="{B12AC09B-F62F-45B1-B329-83E56F0732AD}">
                <File Id="filXSpiPRl43qSXdFj2VxxmaIctkXU" KeyPath="yes" Source="$(var.BasePath)\Mafe.Localization.dll" />
            </Component>
            <Component Id="cmpXQ3hrw_dCUxlxNhQyhw5DCZOKKY" Guid="{B3B8E1A4-E7B0-4ACB-A9A4-E933FE3E8242}">
                <File Id="filVH75JIpLb6R3ossOo6cAwA1WU34" KeyPath="yes" Source="$(var.BasePath)\Mafe.Localization.Windows.dll" />
            </Component>
            <Component Id="cmplmQwEQZFyIRG.IT.8BgG1flUUCE" Guid="{A62197BF-9E16-439D-95EE-86DB1D979360}">
                <File Id="fil.LHe2mvQodWMmrFb70PXAe_UjoY" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmpsM3fchFte7C661vKAdDiuerICyo" Guid="{90EF6A9D-8434-4D20-B5B0-B49AAB80BEC3}">
                <File Id="fil8IDOiMmg8NXuuWM3YDLYxvc7I3A" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmpv3ALn6S_Fj.Z_gvP0gTFhwnWBKo" Guid="{D453AE56-9F50-4649-8760-464E71E49F8A}">
                <File Id="filDH9KI09HoDzlINr3oMIufNwlis4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Authentication.Abstractions.dll" />
            </Component>
            <Component Id="cmpUUXY495J6r7UlRkR4VhaPVLsprE" Guid="{A22D9E26-5D0A-4780-A42B-729498A89871}">
                <File Id="filzdBJxmbpK_pR7AYjOuieGmb7euo" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Authorization.dll" />
            </Component>
            <Component Id="cmpSz_TPzRP0v05_l5JXLbU849sEV8" Guid="{14E955C1-82F6-4527-865B-29AD8CE7395B}">
                <File Id="filXPQlEpL4GBjGiUG3skRKvuqgOiI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Authorization.Policy.dll" />
            </Component>
            <Component Id="cmp_6y9LqllWAkocpQ5cZWNCU8uZDo" Guid="{2DB6A678-3046-4691-B9FD-B3AC769FF257}">
                <File Id="filK_mEQQuElSu8JGw6nBuS8u8jr_8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Connections.Abstractions.dll" />
            </Component>
            <Component Id="cmpSAwThU4DDj2OkooZD8nKFVB2dLU" Guid="{05EFAA44-8E8E-4DFB-99A7-A83914764DED}">
                <File Id="fil1ydjicAfjZqd3tQ2kqhBQKLuxNA" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpNoWmVxfVPf9jfVa1hhpTZfjtlIM" Guid="{BB508A2B-12A8-48D6-B895-3B96D7A9BA11}">
                <File Id="filI4az5MffWQp0NVG78Jma83HBXV0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" />
            </Component>
            <Component Id="cmpTUkKYDhpBultaA2Eo148QrhMZ8k" Guid="{76F784F0-71D0-458C-B326-A526B35AA378}">
                <File Id="filXtq8KsL49Q79y7Oq11fHS9a0xa8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Abstractions.dll" />
            </Component>
            <Component Id="cmp_rs8_3bCMEy0mpVCOfMmlDKnC28" Guid="{1158CA87-4DE2-421C-8091-6A96FCA46146}">
                <File Id="filImJUIox2DqgVATL00ZVAood8Fwk" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.Client.dll" />
            </Component>
            <Component Id="cmpVMXE7MUUd1ouE_z433RmtbUx5f0" Guid="{C2A0A055-2057-47D6-A455-8C5322C01013}">
                <File Id="filZImGhkhejERN.z9e36ulkQCd1rY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.Common.dll" />
            </Component>
            <Component Id="cmp4hvkJ_MxPIcv6tjf8dThFVs2BHc" Guid="{AF082A05-7A3E-4F2D-AE28-2062C3BCAFB1}">
                <File Id="fila4ouxA2BjV77Gk7Bse3fhAmnG3E" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.dll" />
            </Component>
            <Component Id="cmpAGZiy2Ugsx1F9h57XRCVf0YUtgo" Guid="{AEF060EB-B896-468F-83AD-91574C9B14ED}">
                <File Id="filelnKUKcrX7leeVwbez5nzTZQb9U" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.dll" />
            </Component>
            <Component Id="cmpK.czy4Du.GRBKPASlzbH6VD7Bqo" Guid="{72A57D48-88DF-44F3-AD58-44E004EFDF47}">
                <File Id="fil0J.k2fPDcON9W0ogqCDKqS3FPm8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Extensions.dll" />
            </Component>
            <Component Id="cmp9aA_Pjq6E8_y2qK1aUhcMJ1dzdY" Guid="{56B50B9C-FF6C-4E4B-83D4-415EFA04D6E8}">
                <File Id="filMtObLDiHPmeUIHQ9HSWX.lS_O.Y" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Features.dll" />
            </Component>
            <Component Id="cmp4ExCBuOowO3rXQlUNr0SSjpH9Ik" Guid="{C92E5455-C1BE-4500-B12A-EF4CA6F9D1A1}">
                <File Id="filNTUpZRc103Av33YwsnYnhcUd5JY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Routing.Abstractions.dll" />
            </Component>
            <Component Id="cmprw_SookjQvj._uc1Y9txAcch4ms" Guid="{363750CC-EB49-4537-9ED7-6093C634037C}">
                <File Id="filGx8QjYtCDorwYHwZMLFEyNeSU74" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Routing.dll" />
            </Component>
            <Component Id="cmpoSRuMN66I9k1UU2ora_ZWaOeujc" Guid="{3551083B-EA42-4951-9EEC-E9B224270B69}">
                <File Id="fil_D7kjIW6Xbt.NwzVDV6CEeUWyIg" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Client.Core.dll" />
            </Component>
            <Component Id="cmppxsuL2bNlZLJ55YsObVKZ4M.Ud4" Guid="{218FCC87-68F1-4081-8CF9-539835716956}">
                <File Id="filHGLRgwEbNZLXF3PhbxdP9CtNeuU" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Client.dll" />
            </Component>
            <Component Id="cmp4aWVtb89FkUetA2CHl_foeobjM8" Guid="{82DBE2A5-56F0-4CB0-9FDF-315E35AFB58B}">
                <File Id="filHZNaq80nBtU8uISONlaI5ioUuII" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Common.dll" />
            </Component>
            <Component Id="cmpM2v_NBJRwkMMs8jHANwrf.dIZsg" Guid="{BC70B1B5-A1AC-4076-8643-C186F1BB736F}">
                <File Id="filmf1KUrQnrlRjFNd7IGRQw7md28E" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Core.dll" />
            </Component>
            <Component Id="cmp9bvSbNiO.FSrP8OlsniEvqJmarg" Guid="{32B46E21-3BEB-4BCD-878C-372DDF7F5826}">
                <File Id="fil44iiftcgEqXKMkUdciFMN2YZnww" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.dll" />
            </Component>
            <Component Id="cmpkVen5ixcG4yYXofTvuXHFMUYzcY" Guid="{AB176BC4-5DC6-49BC-80D3-361E288D3569}">
                <File Id="fil3WwOi60TUVDGGoic.xgMwygftUc" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
            </Component>
            <Component Id="cmpxMVw_6TdL.OWJPsnv14utbjiZtQ" Guid="{7610A792-66E5-4477-956D-87B5BC431AA5}">
                <File Id="filbdpsH.6WVy_sxOfHrk0KQZsHFjo" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.WebSockets.dll" />
            </Component>
            <Component Id="cmpmKkuruLrIdhbZwZ4SO6NnuFyxO8" Guid="{0472AF8B-244B-4117-9572-D79FC1984637}">
                <File Id="filNX4YWIgrTi22RIfGanGts6sOnZY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.WebUtilities.dll" />
            </Component>
            <Component Id="cmpIE6GWkafIrnTmPIgFwaZvSGHphg" Guid="{CC2952D0-9B56-4CFF-81D3-41DF51A38B2A}">
                <File Id="filwZ1mVrB3G4lbSn5owKKXcuzqxPU" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmptf6b.nolsDtM4JDvW5YHRlxxEqQ" Guid="{2A40FC3A-2A9F-409B-B765-FDD73FD7F923}">
                <File Id="filuzL7o0zf5Lg3GwOGxpwtA8jCNnY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpk6XmgqewGR63KBuA7mN.3s42E44" Guid="{AD5717A6-A441-42DA-8489-7E18706D5362}">
                <File Id="fil06adirXF9N8pp7YX8v4TytbTG6c" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmp_JLpAcK_R4ryBRYdzdrFNlG5ORk" Guid="{F3F1061A-AE93-4E79-9F36-C9D31F0E46C7}">
                <File Id="filLvOq29ppcsQew2Nih1aAlySZrHQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpvtfstQbGh3sjeXwXV.kbdYeabuc" Guid="{35331F99-0A12-433C-A53E-6474109826C8}">
                <File Id="filMQmGjQnXtxq6klQ.t2aC8_dpZaE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp6GpAjRrPeKqwKn.QgxVm3Iuaowc" Guid="{8429A3AF-2FB8-4DBA-97A9-08204A00D9EF}">
                <File Id="filXsBCHzWpuqyTIWPOn_uzEsAP.xI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmpVWhTUgTdGAfoL1IIx8yLpvIyqaw" Guid="{C24CB780-491A-4225-9B63-41DFBD67B61E}">
                <File Id="filSTSDuG25STGY4ULLjDgc56pa6XQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp0BqgK45phW.DWLYY.VhhksBeE2w" Guid="{8A8AE39C-4C8D-4697-B348-7B8A3ECC59AD}">
                <File Id="filkS6gO5WZskmsI3se0uQzuRwynA0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpcSXcwo7ihWnC9Q4uS07WX_yQd90" Guid="{974633D9-5F39-4BD0-A488-3C400E6BCC0B}">
                <File Id="filVAx9bsdjt1pq8_qapAd5dN8Gq0M" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpptcqFK6fKvlKClRr7anAH2T10IA" Guid="{50C1D4CA-1080-4AE9-B574-E168C609FF6F}">
                <File Id="filSJOrUJKgnObO47RKLelCAm_vWeI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp2f1gpBvQLpA3lN3Kdj8TiPEWIiA" Guid="{0EE879E9-5EB9-4991-8EC2-E44261A52BF8}">
                <File Id="filZwFF90cWBW4xhM0RcopN3EiaGkI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Features.dll" />
            </Component>
            <Component Id="cmpgS6KcbdOOW8c_NK9DddHTj1kuEw" Guid="{AA251A3E-DF92-42CE-A079-80E98FCD7FB0}">
                <File Id="fil1x.XLx._HB1gWmgTh9hjiOgH06g" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpadzsKkdQ0kpoy.HB_s6mQclJ3a4" Guid="{291A417A-8DF7-4CDB-8636-3BD90347AF31}">
                <File Id="filWV4jXns5inUtey520J2S664Jubs" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp8yZkc6AgL9nJgJi4aci_grxHjeY" Guid="{ABA8DB7C-1827-400E-A77C-F1749D81F7DB}">
                <File Id="filsAxQXgq3bPI_gqfhxKZudbVjm6k" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpCHrbE5d7LVTPKWnKN3NGRCEsit8" Guid="{0449FC94-491D-45AA-BA5C-874E278A1541}">
                <File Id="fil8LrUePRnjQOidJRyZaysu2tVm0k" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpzX0Y31hhr4PBnaQzgFtXbpJ6h9k" Guid="{0AF63F9E-9E67-42C4-AE47-56439FCD461F}">
                <File Id="filJO46UkwfJd6U3PYf9.hTNetwN1c" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp5C5AkWbR.BF5EXhocOhDDSDYrfQ" Guid="{3CE4B640-12D0-484B-A9B9-5F25D5C80507}">
                <File Id="filFkmtfto13ByIN2jY4YBzWmmgWnQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpCgt3eCjLaNGx89Z2_UvEcpEpMJ8" Guid="{E94B9A47-D2C7-4381-AEEC-0825866D0AD8}">
                <File Id="filSF8gbLSRv6uqeptE5xS6R1S9X6s" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmpSZBsZyK5d7.0rLk3n9vc2TkfACc" Guid="{6FFE3FCA-613F-4835-AF80-300707340AD8}">
                <File Id="fil7rSEE6gU3UcCP5_7xFwuDWTZ5J4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmpx_AXOcmMDXg3dlUi7Jj.3baQaUI" Guid="{CCE5C512-EE4A-43AD-947C-868FF2411469}">
                <File Id="filya7xzP5oOaVnEa0Li0_UuNpQAYw" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp9DU_tRdw4cT4DZKwqb8SuCJjbUk" Guid="{C1C046BD-CB22-4311-96D1-48B3F747EFE9}">
                <File Id="filI06K1DgxUW6U4LGM_X3G8389GeM" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpq.THUt4zecQGADkVXu1TlKoI8I0" Guid="{0A2562A2-98FD-46BE-A747-7FAF8B6BCE85}">
                <File Id="filtjxYxY2C3vbdwk_Iaf686TBRM0A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmpbnu2F8ssBixcrnKRH4j_7R4jY90" Guid="{448966CA-2AD5-4041-90C7-938404A6C5EB}">
                <File Id="fil_YkTBHZ.FnohAk3xLjKZZlgizJ0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpmnjfirY6T2WNctjN5GcTVgKMXfU" Guid="{40AC98C4-5F5A-4F89-8DDD-E4E8018DAD48}">
                <File Id="filmGIK9.Nb_UOrAoMZd6zmfYgwFwQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.ObjectPool.dll" />
            </Component>
            <Component Id="cmpRHALtaLPmIhqMgm5mHMNKy9M0rY" Guid="{BBD9BC12-3F3D-4B6D-A25B-5A69A2C2A494}">
                <File Id="filaewtqnc.qByHVAIHQ9r4RhFxEMM" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmpPQR6lxHdDSJdr00gdc6FOnZQzWg" Guid="{3918797D-C162-4D41-817A-88FF6508BBB4}">
                <File Id="filG37OwKa7ir7Q.l8Ep4G7ukziapU" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpocbvehq9Bk9geawQYJ7zqz4cIps" Guid="{49D3B453-A32F-46D2-9C9B-6B3AD1982C7E}">
                <File Id="filC6gUssKkys3yCVgW_5RlzmRqq8s" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp2Ahmjeti3476raEeTXR3s4.sKZo" Guid="{2B9D244B-D391-4E1B-A6FE-DEF05D6E2E89}">
                <File Id="filP4gGeVZEASQ9SXw4UiNgotKN6cc" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Net.Http.Headers.dll" />
            </Component>
            <Component Id="cmpxhMwyKkhDNnmW_utsDhTX4Ag6kQ" Guid="{0BA643F7-A79D-474B-BDAD-B012371ECF9A}">
                <File Id="filIBX8e_aHqgZljwcsabirNsM1eMI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpijjk_Iahb8tA9Eg.gtyN36BSqs0" Guid="{5E358C92-6AC3-4939-9DEB-0B11371C9E20}">
                <File Id="fil4ZgAV1nG4EhmvjRC.w5kM4or68c" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.deps.json" />
            </Component>
            <Component Id="cmpa12HP6KclCLXJq4dJRAEu.mny4Y" Guid="{193AC64A-AD61-4AFF-8FEF-A8AF34927ECC}">
                <File Id="filuSdBGkvPx_dluGERAsrfrvxxV4o" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.dll" />
            </Component>
            <Component Id="cmpz8fgun1TssOLQitbAcRzToux3.U" Guid="{94ADCFF1-455D-40EB-BCE5-FB21DED1CA79}">
                <File Id="fil_EVDyB45YydvF8hkmubQdZd8fYs" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.dll.config" />
            </Component>
            <Component Id="cmp7u27K6kf_WYXjRGZan7vUOlMtFs" Guid="{8370E28E-2C6C-4EB0-B1EA-B90237D1C610}">
                <File Id="filTVi0zQX5yF44ZZJiVj1lbiYX4fI" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.exe" />
            </Component>
            <Component Id="cmpl5PgH5ZLTec3uFRFIfbehRp0YGw" Guid="{B75BC5B8-2A46-466B-946B-F58C98441553}">
                <File Id="filQwFiJqZGW6Ld.zybdmEZcfOSZxs" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.pdb" />
            </Component>
            <Component Id="cmpzhdSG.VjlTmHBwMiiRDErnd0jHE" Guid="{05A08F04-3771-4CF3-9ABB-9D10DA4F619B}">
                <File Id="filzin_EFHkF7RtxakKo._wotI1Zno" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmpJsjan_kf7T1uKT2ANZKCPq25eW4" Guid="{36B1C447-23CF-4CDF-AFEE-4BD0C42A75B1}">
                <File Id="filZWpqHfAmpUQCJj2aEO7weJkYa38" KeyPath="yes" Source="$(var.BasePath)\Mobee.Common.dll" />
            </Component>
            <Component Id="cmpp1ZH6lXUu6fV1M89KkhQldq58EU" Guid="{0E5DEA2C-D022-4812-BCEE-10E798E1CA2F}">
                <File Id="filS_AHga6OQPXFRYN7pHGdPZC58Pw" KeyPath="yes" Source="$(var.BasePath)\Mobee.Common.pdb" />
            </Component>
            <Component Id="cmpyjDAB.WKcTwgVDE4D_sbUZAeN4U" Guid="{03AA2E34-A14C-410B-9814-7FB16733C811}">
                <File Id="filQoyHtvEBAT9fl0PuEAK0iAJV518" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpQU2DvKbIqPc2etQjNiloJPY1PBY" Guid="{EE0CA95A-6CE8-4762-B6E4-9D0B9A041D6D}">
                <File Id="filr3Bofje93GA2dqBftmFuI.K3jGQ" KeyPath="yes" Source="$(var.BasePath)\Polly.dll" />
            </Component>
            <Component Id="cmpNee5ob0aJvFXrDwGqKTZ7rTkwKs" Guid="{3FA0F947-1ABE-472B-8802-0D26B39759B9}">
                <File Id="fillsQytju0IiAyEY5udz8wHfxyzJ8" KeyPath="yes" Source="$(var.BasePath)\SharpGen.Runtime.COM.dll" />
            </Component>
            <Component Id="cmpvNomLMig3OutJepPwRS_5CAFuoA" Guid="{45ECB8B1-D323-4725-8A2C-2BBE07DC0BA7}">
                <File Id="filVjXBxHujk95wYBqBfxdNKnBFazc" KeyPath="yes" Source="$(var.BasePath)\SharpGen.Runtime.dll" />
            </Component>
            <Component Id="cmpjmvdAlOdQzbw7TzP4tNKWi12LXc" Guid="{DDC7C65A-DB15-40EE-90DA-4A021AA7A426}">
                <File Id="filQrwxzXuid4MEax3NECuGPxKdaFs" KeyPath="yes" Source="$(var.BasePath)\Stfu.dll" />
            </Component>
            <Component Id="cmpCa0sPNpCCMjfLmDrKABF_ssCslA" Guid="{EFCC7700-D645-43EB-9D89-06BA51E44AB1}">
                <File Id="fil09BKJucPpoVByUfajcofYccPCKs" KeyPath="yes" Source="$(var.BasePath)\System.IO.Pipelines.dll" />
            </Component>
            <Component Id="cmpZ2BAJMcKNl6TaVEnWXtOiSQMJJQ" Guid="{20805E46-8FE9-4216-BBC6-49AEDD3AE538}">
                <File Id="filhMVyC1nfpT2MTl_5RrDvae1FkhA" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.WebSocketProtocol.dll" />
            </Component>
            <Component Id="cmpbK5XTpJThaWpAgqcsOcjSI4yq2M" Guid="{EB88FB8A-5E60-40B5-BB96-F6B6D307025C}">
                <File Id="fillKPF889WPiEmYc0kv0GsEiw0ujo" KeyPath="yes" Source="$(var.BasePath)\Typography.GlyphLayout.dll" />
            </Component>
            <Component Id="cmpTBryRg2Qrb2J8h1CTBNxaSeJrmA" Guid="{561912D4-9CBE-43AF-8944-2A1156CF3786}">
                <File Id="fil5eVOV0.H5KP7K1ALROMsejEF3M4" KeyPath="yes" Source="$(var.BasePath)\Typography.OpenFont.dll" />
            </Component>
            <Component Id="cmp7l0tl8pxbTS4xrWgZHFvXP7_04o" Guid="{C10B72EA-7C62-430F-9DC4-8BD95979ECA8}">
                <File Id="filBhNJnCV7p8vJs_07iN9JwAbwdIQ" KeyPath="yes" Source="$(var.BasePath)\Vortice.D3DCompiler.dll" />
            </Component>
            <Component Id="cmpZXXkubQ5DR7WkBuUSjO2OWorX_g" Guid="{0E73A4BE-D3AC-468F-8D01-BC0A74BAECC4}">
                <File Id="fillJqGkz0n2knPbCpOGYLcoOcqtA0" KeyPath="yes" Source="$(var.BasePath)\Vortice.Direct3D11.dll" />
            </Component>
            <Component Id="cmpB9Mf9QOIqNiMgQlaZvGGc0bpjD0" Guid="{7E695A2A-ABAB-45B5-A828-911DD8F123CF}">
                <File Id="filK7moqkHiUR6tWCO0DWD2vrSDSSE" KeyPath="yes" Source="$(var.BasePath)\Vortice.DirectX.dll" />
            </Component>
            <Component Id="cmpAX4IdvpHCjTKD0qclJyD.3LPypI" Guid="{9D70E5CC-2A86-4867-B872-086AEFB83974}">
                <File Id="filID8c5D5RXTZq30mzwTiJlg5voHI" KeyPath="yes" Source="$(var.BasePath)\Vortice.DXGI.dll" />
            </Component>
            <Component Id="cmpAH8hhkz25xabznhbZQ5raY8laTQ" Guid="{647BC45B-46EC-47E5-A8D8-9C0EEE7E437C}">
                <File Id="filS2U4CIwS5fYB4C5tdvX9aBfOrxI" KeyPath="yes" Source="$(var.BasePath)\Vortice.Mathematics.dll" />
            </Component>
            <Component Id="cmpeUuoXxi7RGRbGDBY4nMegsjPVIg" Guid="{16C2CE04-7C29-4496-B7C6-37EC1BC3A1B4}">
                <File Id="filykMWU6XNDrL0WkE632Iiig6wrD4" KeyPath="yes" Source="$(var.BasePath)\Vortice.MediaFoundation.dll" />
            </Component>
            <Component Id="cmpk3TB4S_JxskfoYKK7zWgR5QXDM4" Guid="{40127330-61D6-4C65-B4DA-66B4A9478119}">
                <File Id="filgoeE56p0SiKqus7U4KSKELKYFE0" KeyPath="yes" Source="$(var.BasePath)\Vortice.XAudio2.dll" />
            </Component>
            <Component Id="cmpifP1RM1nSB2z7o6KEhKrOCIk2Gw" Guid="{182A1AEA-8017-4CF7-ABC6-389993121CD1}">
                <File Id="filo.JPtjZ0ERbKS.7E779ef9OOylk" KeyPath="yes" Source="$(var.BasePath)\WpfColorFontDialog.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpgp.5_i11jaf9aPwrOeF_.aU72sY" />
            <ComponentRef Id="cmpFc7ZYWdjJnzhA0vgZPvewzMaY3Y" />
            <ComponentRef Id="cmpJN.NFeYX6kESevcoP7zBlkJmUoI" />
            <ComponentRef Id="cmpSwZSLzrC7QJDdqfvkM5Iy60ay0Y" />
            <ComponentRef Id="cmpJ_H6pCEkJv_dNQO5Aah4ZaFn3Jg" />
            <ComponentRef Id="cmpXiuEdleo8Z42..3DBmmCn6FOo8Y" />
            <ComponentRef Id="cmpvnO4BqKq6VmcCUW.1PoUBFkdR7c" />
            <ComponentRef Id="cmpHi8rAZOKf9JUiDaTZTHWNMZRy2Q" />
            <ComponentRef Id="cmpTDj2W_8.pXjYWXF.c.u0fqMIt9Y" />
            <ComponentRef Id="cmpXQ3hrw_dCUxlxNhQyhw5DCZOKKY" />
            <ComponentRef Id="cmplmQwEQZFyIRG.IT.8BgG1flUUCE" />
            <ComponentRef Id="cmpsM3fchFte7C661vKAdDiuerICyo" />
            <ComponentRef Id="cmpv3ALn6S_Fj.Z_gvP0gTFhwnWBKo" />
            <ComponentRef Id="cmpUUXY495J6r7UlRkR4VhaPVLsprE" />
            <ComponentRef Id="cmpSz_TPzRP0v05_l5JXLbU849sEV8" />
            <ComponentRef Id="cmp_6y9LqllWAkocpQ5cZWNCU8uZDo" />
            <ComponentRef Id="cmpSAwThU4DDj2OkooZD8nKFVB2dLU" />
            <ComponentRef Id="cmpNoWmVxfVPf9jfVa1hhpTZfjtlIM" />
            <ComponentRef Id="cmpTUkKYDhpBultaA2Eo148QrhMZ8k" />
            <ComponentRef Id="cmp_rs8_3bCMEy0mpVCOfMmlDKnC28" />
            <ComponentRef Id="cmpVMXE7MUUd1ouE_z433RmtbUx5f0" />
            <ComponentRef Id="cmp4hvkJ_MxPIcv6tjf8dThFVs2BHc" />
            <ComponentRef Id="cmpAGZiy2Ugsx1F9h57XRCVf0YUtgo" />
            <ComponentRef Id="cmpK.czy4Du.GRBKPASlzbH6VD7Bqo" />
            <ComponentRef Id="cmp9aA_Pjq6E8_y2qK1aUhcMJ1dzdY" />
            <ComponentRef Id="cmp4ExCBuOowO3rXQlUNr0SSjpH9Ik" />
            <ComponentRef Id="cmprw_SookjQvj._uc1Y9txAcch4ms" />
            <ComponentRef Id="cmpoSRuMN66I9k1UU2ora_ZWaOeujc" />
            <ComponentRef Id="cmppxsuL2bNlZLJ55YsObVKZ4M.Ud4" />
            <ComponentRef Id="cmp4aWVtb89FkUetA2CHl_foeobjM8" />
            <ComponentRef Id="cmpM2v_NBJRwkMMs8jHANwrf.dIZsg" />
            <ComponentRef Id="cmp9bvSbNiO.FSrP8OlsniEvqJmarg" />
            <ComponentRef Id="cmpkVen5ixcG4yYXofTvuXHFMUYzcY" />
            <ComponentRef Id="cmpxMVw_6TdL.OWJPsnv14utbjiZtQ" />
            <ComponentRef Id="cmpmKkuruLrIdhbZwZ4SO6NnuFyxO8" />
            <ComponentRef Id="cmpIE6GWkafIrnTmPIgFwaZvSGHphg" />
            <ComponentRef Id="cmptf6b.nolsDtM4JDvW5YHRlxxEqQ" />
            <ComponentRef Id="cmpk6XmgqewGR63KBuA7mN.3s42E44" />
            <ComponentRef Id="cmp_JLpAcK_R4ryBRYdzdrFNlG5ORk" />
            <ComponentRef Id="cmpvtfstQbGh3sjeXwXV.kbdYeabuc" />
            <ComponentRef Id="cmp6GpAjRrPeKqwKn.QgxVm3Iuaowc" />
            <ComponentRef Id="cmpVWhTUgTdGAfoL1IIx8yLpvIyqaw" />
            <ComponentRef Id="cmp0BqgK45phW.DWLYY.VhhksBeE2w" />
            <ComponentRef Id="cmpcSXcwo7ihWnC9Q4uS07WX_yQd90" />
            <ComponentRef Id="cmpptcqFK6fKvlKClRr7anAH2T10IA" />
            <ComponentRef Id="cmp2f1gpBvQLpA3lN3Kdj8TiPEWIiA" />
            <ComponentRef Id="cmpgS6KcbdOOW8c_NK9DddHTj1kuEw" />
            <ComponentRef Id="cmpadzsKkdQ0kpoy.HB_s6mQclJ3a4" />
            <ComponentRef Id="cmp8yZkc6AgL9nJgJi4aci_grxHjeY" />
            <ComponentRef Id="cmpCHrbE5d7LVTPKWnKN3NGRCEsit8" />
            <ComponentRef Id="cmpzX0Y31hhr4PBnaQzgFtXbpJ6h9k" />
            <ComponentRef Id="cmp5C5AkWbR.BF5EXhocOhDDSDYrfQ" />
            <ComponentRef Id="cmpCgt3eCjLaNGx89Z2_UvEcpEpMJ8" />
            <ComponentRef Id="cmpSZBsZyK5d7.0rLk3n9vc2TkfACc" />
            <ComponentRef Id="cmpx_AXOcmMDXg3dlUi7Jj.3baQaUI" />
            <ComponentRef Id="cmp9DU_tRdw4cT4DZKwqb8SuCJjbUk" />
            <ComponentRef Id="cmpq.THUt4zecQGADkVXu1TlKoI8I0" />
            <ComponentRef Id="cmpbnu2F8ssBixcrnKRH4j_7R4jY90" />
            <ComponentRef Id="cmpmnjfirY6T2WNctjN5GcTVgKMXfU" />
            <ComponentRef Id="cmpRHALtaLPmIhqMgm5mHMNKy9M0rY" />
            <ComponentRef Id="cmpPQR6lxHdDSJdr00gdc6FOnZQzWg" />
            <ComponentRef Id="cmpocbvehq9Bk9geawQYJ7zqz4cIps" />
            <ComponentRef Id="cmp2Ahmjeti3476raEeTXR3s4.sKZo" />
            <ComponentRef Id="cmpxhMwyKkhDNnmW_utsDhTX4Ag6kQ" />
            <ComponentRef Id="cmpijjk_Iahb8tA9Eg.gtyN36BSqs0" />
            <ComponentRef Id="cmpa12HP6KclCLXJq4dJRAEu.mny4Y" />
            <ComponentRef Id="cmpz8fgun1TssOLQitbAcRzToux3.U" />
            <ComponentRef Id="cmp7u27K6kf_WYXjRGZan7vUOlMtFs" />
            <ComponentRef Id="cmpl5PgH5ZLTec3uFRFIfbehRp0YGw" />
            <ComponentRef Id="cmpzhdSG.VjlTmHBwMiiRDErnd0jHE" />
            <ComponentRef Id="cmpJsjan_kf7T1uKT2ANZKCPq25eW4" />
            <ComponentRef Id="cmpp1ZH6lXUu6fV1M89KkhQldq58EU" />
            <ComponentRef Id="cmpyjDAB.WKcTwgVDE4D_sbUZAeN4U" />
            <ComponentRef Id="cmpQU2DvKbIqPc2etQjNiloJPY1PBY" />
            <ComponentRef Id="cmpNee5ob0aJvFXrDwGqKTZ7rTkwKs" />
            <ComponentRef Id="cmpvNomLMig3OutJepPwRS_5CAFuoA" />
            <ComponentRef Id="cmpjmvdAlOdQzbw7TzP4tNKWi12LXc" />
            <ComponentRef Id="cmpCa0sPNpCCMjfLmDrKABF_ssCslA" />
            <ComponentRef Id="cmpZ2BAJMcKNl6TaVEnWXtOiSQMJJQ" />
            <ComponentRef Id="cmpbK5XTpJThaWpAgqcsOcjSI4yq2M" />
            <ComponentRef Id="cmpTBryRg2Qrb2J8h1CTBNxaSeJrmA" />
            <ComponentRef Id="cmp7l0tl8pxbTS4xrWgZHFvXP7_04o" />
            <ComponentRef Id="cmpZXXkubQ5DR7WkBuUSjO2OWorX_g" />
            <ComponentRef Id="cmpB9Mf9QOIqNiMgQlaZvGGc0bpjD0" />
            <ComponentRef Id="cmpAX4IdvpHCjTKD0qclJyD.3LPypI" />
            <ComponentRef Id="cmpAH8hhkz25xabznhbZQ5raY8laTQ" />
            <ComponentRef Id="cmpeUuoXxi7RGRbGDBY4nMegsjPVIg" />
            <ComponentRef Id="cmpk3TB4S_JxskfoYKK7zWgR5QXDM4" />
            <ComponentRef Id="cmpifP1RM1nSB2z7o6KEhKrOCIk2Gw" />
        </ComponentGroup>
    </Fragment>
</Wix>