<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpgp.5_i11jaf9aPwrOeF_.aU72sY" Guid="{8BD54798-F55E-4C29-9E9D-497770335418}">
                <File Id="filYuEOGRah5j7xTlFfuOm0VJPg4QQ" KeyPath="yes" Source="$(var.BasePath)\CommunityToolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmpFc7ZYWdjJnzhA0vgZPvewzMaY3Y" Guid="{1FA7612C-07DD-49F4-A2F0-089F29488ECE}">
                <File Id="filg0Z4zk.zJp0C5Q4rL5TK6nD4Gmc" KeyPath="yes" Source="$(var.BasePath)\Dragablz.dll" />
            </Component>
            <Component Id="cmpJN.NFeYX6kESevcoP7zBlkJmUoI" Guid="{DE529D2F-4B30-49F9-A3C4-C73C84CA0166}">
                <File Id="fil9h2TP1i_Pqi6FRNPvnzooC49N8s" KeyPath="yes" Source="$(var.BasePath)\Emoji.Wpf.dll" />
            </Component>
            <Component Id="cmpSwZSLzrC7QJDdqfvkM5Iy60ay0Y" Guid="{F58774FC-5F21-4DDC-8058-5FF89C04426B}">
                <File Id="filWz9EBNXb7qBgj8N5_SH1K_mT3fQ" KeyPath="yes" Source="$(var.BasePath)\FFmpeg.AutoGen.dll" />
            </Component>
            <Component Id="cmpJ_H6pCEkJv_dNQO5Aah4ZaFn3Jg" Guid="{3BB0DA86-0862-4408-9CA6-0554779238D4}">
                <File Id="fil0m2zVfDTJG1khlePvS5dLfTYxK8" KeyPath="yes" Source="$(var.BasePath)\Flurl.dll" />
            </Component>
            <Component Id="cmpXiuEdleo8Z42..3DBmmCn6FOo8Y" Guid="{3BB8D0C8-E680-407C-BF09-A1E4738EBC2E}">
                <File Id="filbQ0AoYSiICT3W5fH0QZozESoqG4" KeyPath="yes" Source="$(var.BasePath)\Flurl.Http.dll" />
            </Component>
            <Component Id="cmpvnO4BqKq6VmcCUW.1PoUBFkdR7c" Guid="{A2D50386-C748-450D-82F4-2E92050320E5}">
                <File Id="filzmUtU8YqA_UkfDDdDQxbAzS5q2o" KeyPath="yes" Source="$(var.BasePath)\FlyleafLib.Controls.WPF.dll" />
            </Component>
            <Component Id="cmpHi8rAZOKf9JUiDaTZTHWNMZRy2Q" Guid="{F804BB89-1DFB-477C-9909-C30676DF1076}">
                <File Id="filrrpCB6UwLHvYq3oSuzoSvkJhgeE" KeyPath="yes" Source="$(var.BasePath)\FlyleafLib.dll" />
            </Component>
            <Component Id="cmpTDj2W_8.pXjYWXF.c.u0fqMIt9Y" Guid="{AD5B062F-5D9C-4AF7-8543-3FC272918B61}">
                <File Id="filXSpiPRl43qSXdFj2VxxmaIctkXU" KeyPath="yes" Source="$(var.BasePath)\Mafe.Localization.dll" />
            </Component>
            <Component Id="cmpXQ3hrw_dCUxlxNhQyhw5DCZOKKY" Guid="{DEAE9889-F2FD-434D-8FF5-742569381CF7}">
                <File Id="filVH75JIpLb6R3ossOo6cAwA1WU34" KeyPath="yes" Source="$(var.BasePath)\Mafe.Localization.Windows.dll" />
            </Component>
            <Component Id="cmplmQwEQZFyIRG.IT.8BgG1flUUCE" Guid="{A71B4D73-BE99-452E-9742-D953EF2A1D12}">
                <File Id="fil.LHe2mvQodWMmrFb70PXAe_UjoY" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmpsM3fchFte7C661vKAdDiuerICyo" Guid="{164D9D7D-CE54-4FC8-A9FD-D1EE541F6402}">
                <File Id="fil8IDOiMmg8NXuuWM3YDLYxvc7I3A" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmpv3ALn6S_Fj.Z_gvP0gTFhwnWBKo" Guid="{16E138A8-6F69-4088-974F-A9B433D6478D}">
                <File Id="filDH9KI09HoDzlINr3oMIufNwlis4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Authentication.Abstractions.dll" />
            </Component>
            <Component Id="cmpUUXY495J6r7UlRkR4VhaPVLsprE" Guid="{43E535AE-EB26-41A8-B14D-95759513C663}">
                <File Id="filzdBJxmbpK_pR7AYjOuieGmb7euo" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Authorization.dll" />
            </Component>
            <Component Id="cmpSz_TPzRP0v05_l5JXLbU849sEV8" Guid="{19C522B4-88C9-44FB-B6B2-B11C2881ECEB}">
                <File Id="filXPQlEpL4GBjGiUG3skRKvuqgOiI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Authorization.Policy.dll" />
            </Component>
            <Component Id="cmp_6y9LqllWAkocpQ5cZWNCU8uZDo" Guid="{ACCA9BF4-EB1F-4E33-AF74-C29E7748C44B}">
                <File Id="filK_mEQQuElSu8JGw6nBuS8u8jr_8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Connections.Abstractions.dll" />
            </Component>
            <Component Id="cmpSAwThU4DDj2OkooZD8nKFVB2dLU" Guid="{B78AA06D-884D-414F-AFA9-7435AE0EF351}">
                <File Id="fil1ydjicAfjZqd3tQ2kqhBQKLuxNA" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpNoWmVxfVPf9jfVa1hhpTZfjtlIM" Guid="{B23BA12F-F648-4F74-9079-BEFAF06D0152}">
                <File Id="filI4az5MffWQp0NVG78Jma83HBXV0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" />
            </Component>
            <Component Id="cmpTUkKYDhpBultaA2Eo148QrhMZ8k" Guid="{C23412DC-514B-432D-800F-FAACAC6E3BE2}">
                <File Id="filXtq8KsL49Q79y7Oq11fHS9a0xa8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Abstractions.dll" />
            </Component>
            <Component Id="cmp_rs8_3bCMEy0mpVCOfMmlDKnC28" Guid="{A7B6AD60-132E-4251-9126-B3D0A2786B84}">
                <File Id="filImJUIox2DqgVATL00ZVAood8Fwk" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.Client.dll" />
            </Component>
            <Component Id="cmpVMXE7MUUd1ouE_z433RmtbUx5f0" Guid="{4D7B1274-E3CA-4A77-B143-914DE5C10BED}">
                <File Id="filZImGhkhejERN.z9e36ulkQCd1rY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.Common.dll" />
            </Component>
            <Component Id="cmp4hvkJ_MxPIcv6tjf8dThFVs2BHc" Guid="{C95E7F74-ED9F-4F47-A1F4-AA9CA7ACD98A}">
                <File Id="fila4ouxA2BjV77Gk7Bse3fhAmnG3E" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.dll" />
            </Component>
            <Component Id="cmpAGZiy2Ugsx1F9h57XRCVf0YUtgo" Guid="{889A6076-0355-4CA1-BE08-9AC4E47046D4}">
                <File Id="filelnKUKcrX7leeVwbez5nzTZQb9U" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.dll" />
            </Component>
            <Component Id="cmpK.czy4Du.GRBKPASlzbH6VD7Bqo" Guid="{D9DFC726-9B78-4455-A2A4-0C46C386FE65}">
                <File Id="fil0J.k2fPDcON9W0ogqCDKqS3FPm8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Extensions.dll" />
            </Component>
            <Component Id="cmp9aA_Pjq6E8_y2qK1aUhcMJ1dzdY" Guid="{669EF8EF-A4E2-4059-AC91-1E04CCFD8CF2}">
                <File Id="filMtObLDiHPmeUIHQ9HSWX.lS_O.Y" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Features.dll" />
            </Component>
            <Component Id="cmp4ExCBuOowO3rXQlUNr0SSjpH9Ik" Guid="{FAE3CFE8-8D97-4E45-95E3-85EAB58A94AA}">
                <File Id="filNTUpZRc103Av33YwsnYnhcUd5JY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Routing.Abstractions.dll" />
            </Component>
            <Component Id="cmprw_SookjQvj._uc1Y9txAcch4ms" Guid="{57FEB974-C030-4D71-99F6-0D121D337C3A}">
                <File Id="filGx8QjYtCDorwYHwZMLFEyNeSU74" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Routing.dll" />
            </Component>
            <Component Id="cmpoSRuMN66I9k1UU2ora_ZWaOeujc" Guid="{3D195283-E2C4-469D-BBE6-3C5F130AB5A8}">
                <File Id="fil_D7kjIW6Xbt.NwzVDV6CEeUWyIg" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Client.Core.dll" />
            </Component>
            <Component Id="cmppxsuL2bNlZLJ55YsObVKZ4M.Ud4" Guid="{248C5622-BF2A-437D-82BE-DEF368F1281B}">
                <File Id="filHGLRgwEbNZLXF3PhbxdP9CtNeuU" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Client.dll" />
            </Component>
            <Component Id="cmp4aWVtb89FkUetA2CHl_foeobjM8" Guid="{197297B7-8223-46FB-B314-1E8A0DC51777}">
                <File Id="filHZNaq80nBtU8uISONlaI5ioUuII" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Common.dll" />
            </Component>
            <Component Id="cmpM2v_NBJRwkMMs8jHANwrf.dIZsg" Guid="{8327FE49-C053-4771-AC02-FFA6B9B53F8F}">
                <File Id="filmf1KUrQnrlRjFNd7IGRQw7md28E" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Core.dll" />
            </Component>
            <Component Id="cmp9bvSbNiO.FSrP8OlsniEvqJmarg" Guid="{CE6E097D-5A89-4B60-902F-EAD5B03CEE74}">
                <File Id="fil44iiftcgEqXKMkUdciFMN2YZnww" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.dll" />
            </Component>
            <Component Id="cmpkVen5ixcG4yYXofTvuXHFMUYzcY" Guid="{D2F65F35-B074-4073-948F-6C99E05AC4FB}">
                <File Id="fil3WwOi60TUVDGGoic.xgMwygftUc" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
            </Component>
            <Component Id="cmpxMVw_6TdL.OWJPsnv14utbjiZtQ" Guid="{848419CC-7247-43F7-859F-8DC2D7E5742A}">
                <File Id="filbdpsH.6WVy_sxOfHrk0KQZsHFjo" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.WebSockets.dll" />
            </Component>
            <Component Id="cmpmKkuruLrIdhbZwZ4SO6NnuFyxO8" Guid="{256E4C87-1EA0-4F75-BBF3-A51D57ABE79C}">
                <File Id="filNX4YWIgrTi22RIfGanGts6sOnZY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.WebUtilities.dll" />
            </Component>
            <Component Id="cmpIE6GWkafIrnTmPIgFwaZvSGHphg" Guid="{C742DAA8-1272-48BA-A8E6-F272C4883106}">
                <File Id="filwZ1mVrB3G4lbSn5owKKXcuzqxPU" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmptf6b.nolsDtM4JDvW5YHRlxxEqQ" Guid="{F9A6450F-E984-465D-981E-88678FA45947}">
                <File Id="filuzL7o0zf5Lg3GwOGxpwtA8jCNnY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpk6XmgqewGR63KBuA7mN.3s42E44" Guid="{174D1788-1B55-41E4-87AB-90102D0E1D50}">
                <File Id="fil06adirXF9N8pp7YX8v4TytbTG6c" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmp_JLpAcK_R4ryBRYdzdrFNlG5ORk" Guid="{6AA09892-AD31-4999-A7BA-27F8CF1A46E3}">
                <File Id="filLvOq29ppcsQew2Nih1aAlySZrHQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpvtfstQbGh3sjeXwXV.kbdYeabuc" Guid="{CD6646E8-92B8-45F3-8739-5B6FA487CBD2}">
                <File Id="filMQmGjQnXtxq6klQ.t2aC8_dpZaE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp6GpAjRrPeKqwKn.QgxVm3Iuaowc" Guid="{6B034944-1B10-428D-928F-D6EF64D97DA2}">
                <File Id="filXsBCHzWpuqyTIWPOn_uzEsAP.xI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmpVWhTUgTdGAfoL1IIx8yLpvIyqaw" Guid="{897C5CC9-E1C1-4B79-BDBF-10F71AE95118}">
                <File Id="filSTSDuG25STGY4ULLjDgc56pa6XQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp0BqgK45phW.DWLYY.VhhksBeE2w" Guid="{F63D3A3D-9C40-4A16-BE58-7D337AE0C371}">
                <File Id="filkS6gO5WZskmsI3se0uQzuRwynA0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpcSXcwo7ihWnC9Q4uS07WX_yQd90" Guid="{379AF4E6-5DD1-4462-B33F-EFE5E2120FAC}">
                <File Id="filVAx9bsdjt1pq8_qapAd5dN8Gq0M" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpptcqFK6fKvlKClRr7anAH2T10IA" Guid="{D0D01F3B-C4D8-446B-8303-91DF5BF5D426}">
                <File Id="filSJOrUJKgnObO47RKLelCAm_vWeI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp2f1gpBvQLpA3lN3Kdj8TiPEWIiA" Guid="{E9D4D2AC-7EAD-4532-93D8-31B3BA8B7CFA}">
                <File Id="filZwFF90cWBW4xhM0RcopN3EiaGkI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Features.dll" />
            </Component>
            <Component Id="cmpgS6KcbdOOW8c_NK9DddHTj1kuEw" Guid="{AA1EBE12-D704-4098-86F8-55EB39E4E1C5}">
                <File Id="fil1x.XLx._HB1gWmgTh9hjiOgH06g" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpadzsKkdQ0kpoy.HB_s6mQclJ3a4" Guid="{D498B661-2BA3-47E0-8745-8B302FB05E89}">
                <File Id="filWV4jXns5inUtey520J2S664Jubs" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp8yZkc6AgL9nJgJi4aci_grxHjeY" Guid="{F9B9B508-381C-431E-97C6-0009432B26AB}">
                <File Id="filsAxQXgq3bPI_gqfhxKZudbVjm6k" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpCHrbE5d7LVTPKWnKN3NGRCEsit8" Guid="{A675143D-4E61-4D71-8690-BD98E95077E1}">
                <File Id="fil8LrUePRnjQOidJRyZaysu2tVm0k" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpzX0Y31hhr4PBnaQzgFtXbpJ6h9k" Guid="{7EE8D130-C7C1-4ADD-8993-C7AAA821BC08}">
                <File Id="filJO46UkwfJd6U3PYf9.hTNetwN1c" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp5C5AkWbR.BF5EXhocOhDDSDYrfQ" Guid="{EA0EE962-22B3-41EC-9B7A-A417E7DC813E}">
                <File Id="filFkmtfto13ByIN2jY4YBzWmmgWnQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpCgt3eCjLaNGx89Z2_UvEcpEpMJ8" Guid="{882F647E-2C96-458D-8101-F59676987781}">
                <File Id="filSF8gbLSRv6uqeptE5xS6R1S9X6s" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmpSZBsZyK5d7.0rLk3n9vc2TkfACc" Guid="{F6AFB977-91E4-4118-8525-9F8C9F130604}">
                <File Id="fil7rSEE6gU3UcCP5_7xFwuDWTZ5J4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmpx_AXOcmMDXg3dlUi7Jj.3baQaUI" Guid="{E48B92A9-AF6F-4C87-8C91-4C5096804E59}">
                <File Id="filya7xzP5oOaVnEa0Li0_UuNpQAYw" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp9DU_tRdw4cT4DZKwqb8SuCJjbUk" Guid="{04C4352E-81A4-474A-926F-D8746CC3EC8F}">
                <File Id="filI06K1DgxUW6U4LGM_X3G8389GeM" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpq.THUt4zecQGADkVXu1TlKoI8I0" Guid="{09F70EA6-655D-4BDF-97B0-8D8883D7CA7F}">
                <File Id="filtjxYxY2C3vbdwk_Iaf686TBRM0A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmpbnu2F8ssBixcrnKRH4j_7R4jY90" Guid="{73FE7F47-4AE2-4794-9F23-45E88A71D05F}">
                <File Id="fil_YkTBHZ.FnohAk3xLjKZZlgizJ0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpmnjfirY6T2WNctjN5GcTVgKMXfU" Guid="{444AE205-532E-40F8-8088-8445C565EDF0}">
                <File Id="filmGIK9.Nb_UOrAoMZd6zmfYgwFwQ" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.ObjectPool.dll" />
            </Component>
            <Component Id="cmpRHALtaLPmIhqMgm5mHMNKy9M0rY" Guid="{F78BBDC4-DF87-495E-8483-D45777ABF2D2}">
                <File Id="filaewtqnc.qByHVAIHQ9r4RhFxEMM" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmpPQR6lxHdDSJdr00gdc6FOnZQzWg" Guid="{6D5F53D9-03E9-47D2-89A4-57D67ACA6FC1}">
                <File Id="filG37OwKa7ir7Q.l8Ep4G7ukziapU" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpocbvehq9Bk9geawQYJ7zqz4cIps" Guid="{C992B0EE-D70A-4DBA-86F6-319C4D34042F}">
                <File Id="filC6gUssKkys3yCVgW_5RlzmRqq8s" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp2Ahmjeti3476raEeTXR3s4.sKZo" Guid="{08639388-1180-4747-BEFA-A03116C17A99}">
                <File Id="filP4gGeVZEASQ9SXw4UiNgotKN6cc" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Net.Http.Headers.dll" />
            </Component>
            <Component Id="cmpxhMwyKkhDNnmW_utsDhTX4Ag6kQ" Guid="{66DBF008-4BC2-4DC8-8BA8-0F74EBD60EEC}">
                <File Id="filIBX8e_aHqgZljwcsabirNsM1eMI" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpijjk_Iahb8tA9Eg.gtyN36BSqs0" Guid="{249CC286-35BE-436C-A3D6-C4DD15ACDFD7}">
                <File Id="fil4ZgAV1nG4EhmvjRC.w5kM4or68c" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.deps.json" />
            </Component>
            <Component Id="cmpa12HP6KclCLXJq4dJRAEu.mny4Y" Guid="{766828D6-88D5-4DE1-BDF5-A6937609ADE8}">
                <File Id="filuSdBGkvPx_dluGERAsrfrvxxV4o" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.dll" />
            </Component>
            <Component Id="cmpz8fgun1TssOLQitbAcRzToux3.U" Guid="{565C5606-EEAE-4E43-8A31-6EF45B5BEF79}">
                <File Id="fil_EVDyB45YydvF8hkmubQdZd8fYs" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.dll.config" />
            </Component>
            <Component Id="cmp7u27K6kf_WYXjRGZan7vUOlMtFs" Guid="{CEE17F80-D9F2-43C2-A268-C2EAE87E7D03}">
                <File Id="filTVi0zQX5yF44ZZJiVj1lbiYX4fI" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.exe" />
            </Component>
            <Component Id="cmpl5PgH5ZLTec3uFRFIfbehRp0YGw" Guid="{1A7B6021-C4DC-4B1B-B7D5-177E781F5515}">
                <File Id="filQwFiJqZGW6Ld.zybdmEZcfOSZxs" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.pdb" />
            </Component>
            <Component Id="cmpzhdSG.VjlTmHBwMiiRDErnd0jHE" Guid="{F31BFEF6-E5D5-4182-91B8-82C26184F4CB}">
                <File Id="filzin_EFHkF7RtxakKo._wotI1Zno" KeyPath="yes" Source="$(var.BasePath)\Mobee.Client.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmpJsjan_kf7T1uKT2ANZKCPq25eW4" Guid="{64C384F5-AAA2-45A4-8451-4603DB8357EA}">
                <File Id="filZWpqHfAmpUQCJj2aEO7weJkYa38" KeyPath="yes" Source="$(var.BasePath)\Mobee.Common.dll" />
            </Component>
            <Component Id="cmpp1ZH6lXUu6fV1M89KkhQldq58EU" Guid="{978D9723-BDD8-4859-A329-3DF7F89A7873}">
                <File Id="filS_AHga6OQPXFRYN7pHGdPZC58Pw" KeyPath="yes" Source="$(var.BasePath)\Mobee.Common.pdb" />
            </Component>
            <Component Id="cmpyjDAB.WKcTwgVDE4D_sbUZAeN4U" Guid="{ADDC7A0B-B13F-4E07-A35A-90998E75E2D9}">
                <File Id="filQoyHtvEBAT9fl0PuEAK0iAJV518" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpQU2DvKbIqPc2etQjNiloJPY1PBY" Guid="{ED923D14-0580-4C5F-9894-528D33ED3475}">
                <File Id="filr3Bofje93GA2dqBftmFuI.K3jGQ" KeyPath="yes" Source="$(var.BasePath)\Polly.dll" />
            </Component>
            <Component Id="cmpNee5ob0aJvFXrDwGqKTZ7rTkwKs" Guid="{E1F8D0C0-D213-4C6D-BC9E-F9C96158A79E}">
                <File Id="fillsQytju0IiAyEY5udz8wHfxyzJ8" KeyPath="yes" Source="$(var.BasePath)\SharpGen.Runtime.COM.dll" />
            </Component>
            <Component Id="cmpvNomLMig3OutJepPwRS_5CAFuoA" Guid="{7883BB15-4C42-4BBA-90D8-13249FF6AC75}">
                <File Id="filVjXBxHujk95wYBqBfxdNKnBFazc" KeyPath="yes" Source="$(var.BasePath)\SharpGen.Runtime.dll" />
            </Component>
            <Component Id="cmpjmvdAlOdQzbw7TzP4tNKWi12LXc" Guid="{74B3B1CB-71A7-4A4D-8DB8-D9C0F2744355}">
                <File Id="filQrwxzXuid4MEax3NECuGPxKdaFs" KeyPath="yes" Source="$(var.BasePath)\Stfu.dll" />
            </Component>
            <Component Id="cmpCa0sPNpCCMjfLmDrKABF_ssCslA" Guid="{194192D6-5CC1-4F56-B3E0-65B666F68A76}">
                <File Id="fil09BKJucPpoVByUfajcofYccPCKs" KeyPath="yes" Source="$(var.BasePath)\System.IO.Pipelines.dll" />
            </Component>
            <Component Id="cmpZ2BAJMcKNl6TaVEnWXtOiSQMJJQ" Guid="{A39C3801-4B40-43B5-9076-269CF5621873}">
                <File Id="filhMVyC1nfpT2MTl_5RrDvae1FkhA" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.WebSocketProtocol.dll" />
            </Component>
            <Component Id="cmpbK5XTpJThaWpAgqcsOcjSI4yq2M" Guid="{8E1FDB34-4797-4B7A-9A95-1FF995D5DA4D}">
                <File Id="fillKPF889WPiEmYc0kv0GsEiw0ujo" KeyPath="yes" Source="$(var.BasePath)\Typography.GlyphLayout.dll" />
            </Component>
            <Component Id="cmpTBryRg2Qrb2J8h1CTBNxaSeJrmA" Guid="{81D8596A-339E-4978-9C2E-35E558AA01B5}">
                <File Id="fil5eVOV0.H5KP7K1ALROMsejEF3M4" KeyPath="yes" Source="$(var.BasePath)\Typography.OpenFont.dll" />
            </Component>
            <Component Id="cmp7l0tl8pxbTS4xrWgZHFvXP7_04o" Guid="{A16CCE47-FEBC-456F-8D84-84B49BFF58BC}">
                <File Id="filBhNJnCV7p8vJs_07iN9JwAbwdIQ" KeyPath="yes" Source="$(var.BasePath)\Vortice.D3DCompiler.dll" />
            </Component>
            <Component Id="cmpZXXkubQ5DR7WkBuUSjO2OWorX_g" Guid="{D545E19D-E08B-459B-90CE-F595C02A6471}">
                <File Id="fillJqGkz0n2knPbCpOGYLcoOcqtA0" KeyPath="yes" Source="$(var.BasePath)\Vortice.Direct3D11.dll" />
            </Component>
            <Component Id="cmpB9Mf9QOIqNiMgQlaZvGGc0bpjD0" Guid="{0348F412-BF20-4094-B821-1D98380AD509}">
                <File Id="filK7moqkHiUR6tWCO0DWD2vrSDSSE" KeyPath="yes" Source="$(var.BasePath)\Vortice.DirectX.dll" />
            </Component>
            <Component Id="cmpAX4IdvpHCjTKD0qclJyD.3LPypI" Guid="{9108148D-BD55-457D-9BF5-F4A7CE6FACED}">
                <File Id="filID8c5D5RXTZq30mzwTiJlg5voHI" KeyPath="yes" Source="$(var.BasePath)\Vortice.DXGI.dll" />
            </Component>
            <Component Id="cmpAH8hhkz25xabznhbZQ5raY8laTQ" Guid="{C0B94EEA-D663-49AD-872D-51152149E129}">
                <File Id="filS2U4CIwS5fYB4C5tdvX9aBfOrxI" KeyPath="yes" Source="$(var.BasePath)\Vortice.Mathematics.dll" />
            </Component>
            <Component Id="cmpeUuoXxi7RGRbGDBY4nMegsjPVIg" Guid="{F4312B03-A79F-4F3B-AEBA-9AF6F41497F2}">
                <File Id="filykMWU6XNDrL0WkE632Iiig6wrD4" KeyPath="yes" Source="$(var.BasePath)\Vortice.MediaFoundation.dll" />
            </Component>
            <Component Id="cmpk3TB4S_JxskfoYKK7zWgR5QXDM4" Guid="{8BADBECC-C096-4F2E-BCF8-9E01DC7A1424}">
                <File Id="filgoeE56p0SiKqus7U4KSKELKYFE0" KeyPath="yes" Source="$(var.BasePath)\Vortice.XAudio2.dll" />
            </Component>
            <Component Id="cmpifP1RM1nSB2z7o6KEhKrOCIk2Gw" Guid="{1CB8C5C8-A5C7-4BF5-B725-0E8D01A38A25}">
                <File Id="filo.JPtjZ0ERbKS.7E779ef9OOylk" KeyPath="yes" Source="$(var.BasePath)\WpfColorFontDialog.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpgp.5_i11jaf9aPwrOeF_.aU72sY" />
            <ComponentRef Id="cmpFc7ZYWdjJnzhA0vgZPvewzMaY3Y" />
            <ComponentRef Id="cmpJN.NFeYX6kESevcoP7zBlkJmUoI" />
            <ComponentRef Id="cmpSwZSLzrC7QJDdqfvkM5Iy60ay0Y" />
            <ComponentRef Id="cmpJ_H6pCEkJv_dNQO5Aah4ZaFn3Jg" />
            <ComponentRef Id="cmpXiuEdleo8Z42..3DBmmCn6FOo8Y" />
            <ComponentRef Id="cmpvnO4BqKq6VmcCUW.1PoUBFkdR7c" />
            <ComponentRef Id="cmpHi8rAZOKf9JUiDaTZTHWNMZRy2Q" />
            <ComponentRef Id="cmpTDj2W_8.pXjYWXF.c.u0fqMIt9Y" />
            <ComponentRef Id="cmpXQ3hrw_dCUxlxNhQyhw5DCZOKKY" />
            <ComponentRef Id="cmplmQwEQZFyIRG.IT.8BgG1flUUCE" />
            <ComponentRef Id="cmpsM3fchFte7C661vKAdDiuerICyo" />
            <ComponentRef Id="cmpv3ALn6S_Fj.Z_gvP0gTFhwnWBKo" />
            <ComponentRef Id="cmpUUXY495J6r7UlRkR4VhaPVLsprE" />
            <ComponentRef Id="cmpSz_TPzRP0v05_l5JXLbU849sEV8" />
            <ComponentRef Id="cmp_6y9LqllWAkocpQ5cZWNCU8uZDo" />
            <ComponentRef Id="cmpSAwThU4DDj2OkooZD8nKFVB2dLU" />
            <ComponentRef Id="cmpNoWmVxfVPf9jfVa1hhpTZfjtlIM" />
            <ComponentRef Id="cmpTUkKYDhpBultaA2Eo148QrhMZ8k" />
            <ComponentRef Id="cmp_rs8_3bCMEy0mpVCOfMmlDKnC28" />
            <ComponentRef Id="cmpVMXE7MUUd1ouE_z433RmtbUx5f0" />
            <ComponentRef Id="cmp4hvkJ_MxPIcv6tjf8dThFVs2BHc" />
            <ComponentRef Id="cmpAGZiy2Ugsx1F9h57XRCVf0YUtgo" />
            <ComponentRef Id="cmpK.czy4Du.GRBKPASlzbH6VD7Bqo" />
            <ComponentRef Id="cmp9aA_Pjq6E8_y2qK1aUhcMJ1dzdY" />
            <ComponentRef Id="cmp4ExCBuOowO3rXQlUNr0SSjpH9Ik" />
            <ComponentRef Id="cmprw_SookjQvj._uc1Y9txAcch4ms" />
            <ComponentRef Id="cmpoSRuMN66I9k1UU2ora_ZWaOeujc" />
            <ComponentRef Id="cmppxsuL2bNlZLJ55YsObVKZ4M.Ud4" />
            <ComponentRef Id="cmp4aWVtb89FkUetA2CHl_foeobjM8" />
            <ComponentRef Id="cmpM2v_NBJRwkMMs8jHANwrf.dIZsg" />
            <ComponentRef Id="cmp9bvSbNiO.FSrP8OlsniEvqJmarg" />
            <ComponentRef Id="cmpkVen5ixcG4yYXofTvuXHFMUYzcY" />
            <ComponentRef Id="cmpxMVw_6TdL.OWJPsnv14utbjiZtQ" />
            <ComponentRef Id="cmpmKkuruLrIdhbZwZ4SO6NnuFyxO8" />
            <ComponentRef Id="cmpIE6GWkafIrnTmPIgFwaZvSGHphg" />
            <ComponentRef Id="cmptf6b.nolsDtM4JDvW5YHRlxxEqQ" />
            <ComponentRef Id="cmpk6XmgqewGR63KBuA7mN.3s42E44" />
            <ComponentRef Id="cmp_JLpAcK_R4ryBRYdzdrFNlG5ORk" />
            <ComponentRef Id="cmpvtfstQbGh3sjeXwXV.kbdYeabuc" />
            <ComponentRef Id="cmp6GpAjRrPeKqwKn.QgxVm3Iuaowc" />
            <ComponentRef Id="cmpVWhTUgTdGAfoL1IIx8yLpvIyqaw" />
            <ComponentRef Id="cmp0BqgK45phW.DWLYY.VhhksBeE2w" />
            <ComponentRef Id="cmpcSXcwo7ihWnC9Q4uS07WX_yQd90" />
            <ComponentRef Id="cmpptcqFK6fKvlKClRr7anAH2T10IA" />
            <ComponentRef Id="cmp2f1gpBvQLpA3lN3Kdj8TiPEWIiA" />
            <ComponentRef Id="cmpgS6KcbdOOW8c_NK9DddHTj1kuEw" />
            <ComponentRef Id="cmpadzsKkdQ0kpoy.HB_s6mQclJ3a4" />
            <ComponentRef Id="cmp8yZkc6AgL9nJgJi4aci_grxHjeY" />
            <ComponentRef Id="cmpCHrbE5d7LVTPKWnKN3NGRCEsit8" />
            <ComponentRef Id="cmpzX0Y31hhr4PBnaQzgFtXbpJ6h9k" />
            <ComponentRef Id="cmp5C5AkWbR.BF5EXhocOhDDSDYrfQ" />
            <ComponentRef Id="cmpCgt3eCjLaNGx89Z2_UvEcpEpMJ8" />
            <ComponentRef Id="cmpSZBsZyK5d7.0rLk3n9vc2TkfACc" />
            <ComponentRef Id="cmpx_AXOcmMDXg3dlUi7Jj.3baQaUI" />
            <ComponentRef Id="cmp9DU_tRdw4cT4DZKwqb8SuCJjbUk" />
            <ComponentRef Id="cmpq.THUt4zecQGADkVXu1TlKoI8I0" />
            <ComponentRef Id="cmpbnu2F8ssBixcrnKRH4j_7R4jY90" />
            <ComponentRef Id="cmpmnjfirY6T2WNctjN5GcTVgKMXfU" />
            <ComponentRef Id="cmpRHALtaLPmIhqMgm5mHMNKy9M0rY" />
            <ComponentRef Id="cmpPQR6lxHdDSJdr00gdc6FOnZQzWg" />
            <ComponentRef Id="cmpocbvehq9Bk9geawQYJ7zqz4cIps" />
            <ComponentRef Id="cmp2Ahmjeti3476raEeTXR3s4.sKZo" />
            <ComponentRef Id="cmpxhMwyKkhDNnmW_utsDhTX4Ag6kQ" />
            <ComponentRef Id="cmpijjk_Iahb8tA9Eg.gtyN36BSqs0" />
            <ComponentRef Id="cmpa12HP6KclCLXJq4dJRAEu.mny4Y" />
            <ComponentRef Id="cmpz8fgun1TssOLQitbAcRzToux3.U" />
            <ComponentRef Id="cmp7u27K6kf_WYXjRGZan7vUOlMtFs" />
            <ComponentRef Id="cmpl5PgH5ZLTec3uFRFIfbehRp0YGw" />
            <ComponentRef Id="cmpzhdSG.VjlTmHBwMiiRDErnd0jHE" />
            <ComponentRef Id="cmpJsjan_kf7T1uKT2ANZKCPq25eW4" />
            <ComponentRef Id="cmpp1ZH6lXUu6fV1M89KkhQldq58EU" />
            <ComponentRef Id="cmpyjDAB.WKcTwgVDE4D_sbUZAeN4U" />
            <ComponentRef Id="cmpQU2DvKbIqPc2etQjNiloJPY1PBY" />
            <ComponentRef Id="cmpNee5ob0aJvFXrDwGqKTZ7rTkwKs" />
            <ComponentRef Id="cmpvNomLMig3OutJepPwRS_5CAFuoA" />
            <ComponentRef Id="cmpjmvdAlOdQzbw7TzP4tNKWi12LXc" />
            <ComponentRef Id="cmpCa0sPNpCCMjfLmDrKABF_ssCslA" />
            <ComponentRef Id="cmpZ2BAJMcKNl6TaVEnWXtOiSQMJJQ" />
            <ComponentRef Id="cmpbK5XTpJThaWpAgqcsOcjSI4yq2M" />
            <ComponentRef Id="cmpTBryRg2Qrb2J8h1CTBNxaSeJrmA" />
            <ComponentRef Id="cmp7l0tl8pxbTS4xrWgZHFvXP7_04o" />
            <ComponentRef Id="cmpZXXkubQ5DR7WkBuUSjO2OWorX_g" />
            <ComponentRef Id="cmpB9Mf9QOIqNiMgQlaZvGGc0bpjD0" />
            <ComponentRef Id="cmpAX4IdvpHCjTKD0qclJyD.3LPypI" />
            <ComponentRef Id="cmpAH8hhkz25xabznhbZQ5raY8laTQ" />
            <ComponentRef Id="cmpeUuoXxi7RGRbGDBY4nMegsjPVIg" />
            <ComponentRef Id="cmpk3TB4S_JxskfoYKK7zWgR5QXDM4" />
            <ComponentRef Id="cmpifP1RM1nSB2z7o6KEhKrOCIk2Gw" />
        </ComponentGroup>
    </Fragment>
</Wix>