<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="LIBSx64FFMPEG">
            <Component Id="cmprjq8nEPjw8TLygsLx25UHxnWd5Y" Guid="{DD6A64EA-8008-412A-907C-C7DA0A04B7EC}">
                <File Id="filunbCTB448pL4Pcaqy94TVgZTe7c" KeyPath="yes" Source="$(var.Libsx64Path)\avcodec-58.dll" />
            </Component>
            <Component Id="cmpivoPqj3QSrBpMXyO2tpRewpcXaY" Guid="{125508B8-D09B-41BF-A5FE-03B3203A8EBD}">
                <File Id="fily0_sm9WuIyY.oBS7lwuUsI.SJ74" KeyPath="yes" Source="$(var.Libsx64Path)\avdevice-58.dll" />
            </Component>
            <Component Id="cmpRLEXFOjyrRD1VzzoVP7WqlyjDOI" Guid="{D49C3BA4-455A-4898-8DA0-4671DE87EBE0}">
                <File Id="fillfW1khGg6lozPS9TySOoKxzJR.k" KeyPath="yes" Source="$(var.Libsx64Path)\avformat-58.dll" />
            </Component>
            <Component Id="cmpoyYSD5zG13vvILtkgG_nmaoJ9Lk" Guid="{9500552E-ED73-4D93-A068-3DD9E81A0632}">
                <File Id="filUgWY1TkJs98GjVhED93DqFJCmvM" KeyPath="yes" Source="$(var.Libsx64Path)\avutil-56.dll" />
            </Component>
            <Component Id="cmpDzo7zpxZFSQBjIBPaYJvI2xjywM" Guid="{1ED51F40-0E9E-4ED4-A747-B7D3D44B7ECB}">
                <File Id="filQJDPCLtWci6NvAVQd.2SJb_ZyqE" KeyPath="yes" Source="$(var.Libsx64Path)\postproc-55.dll" />
            </Component>
            <Component Id="cmphQ2nUmKI99UfrS5vuylb3NRK38Q" Guid="{80248B78-D899-4BF4-A6E6-AA86AE0393AC}">
                <File Id="filj05PJvk3ajQCbtbD.W0okY8mO34" KeyPath="yes" Source="$(var.Libsx64Path)\swresample-3.dll" />
            </Component>
            <Component Id="cmplEGM1zfhLqvJV4Ytf6V6oYOP3v8" Guid="{11593BA6-910D-4C63-B81C-C0BD2BE41734}">
                <File Id="filxbnb9DDrEq9JLall2wScMdRq4g4" KeyPath="yes" Source="$(var.Libsx64Path)\swscale-5.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedLibsx64">
            <ComponentRef Id="cmprjq8nEPjw8TLygsLx25UHxnWd5Y" />
            <ComponentRef Id="cmpivoPqj3QSrBpMXyO2tpRewpcXaY" />
            <ComponentRef Id="cmpRLEXFOjyrRD1VzzoVP7WqlyjDOI" />
            <ComponentRef Id="cmpoyYSD5zG13vvILtkgG_nmaoJ9Lk" />
            <ComponentRef Id="cmpDzo7zpxZFSQBjIBPaYJvI2xjywM" />
            <ComponentRef Id="cmphQ2nUmKI99UfrS5vuylb3NRK38Q" />
            <ComponentRef Id="cmplEGM1zfhLqvJV4Ytf6V6oYOP3v8" />
        </ComponentGroup>
    </Fragment>
</Wix>