<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="LIBSx86FFMPEG">
            <Component Id="cmpTsqkWWnD6sU9UXbWBcyDaxtn3Us" Guid="{31984BDE-8490-469E-B68C-BE1511A82A33}">
                <File Id="filQNFuNSNWK9kkk2pRI9uTOqDFXeA" KeyPath="yes" Source="$(var.Libsx86Path)\avcodec-58.dll" />
            </Component>
            <Component Id="cmppS96YzvvII2y6nivmzWRJ2LlFtI" Guid="{2EBE00F4-152A-46CD-B398-E05D224689D5}">
                <File Id="filbjRi_0FYb5bh5yZ5Ceb4AL8Ol6U" KeyPath="yes" Source="$(var.Libsx86Path)\avdevice-58.dll" />
            </Component>
            <Component Id="cmpGbFZw4DWdKEnSSWrdBTFtiGrlTo" Guid="{66E21990-E4EA-4C86-89D4-086544B03BF2}">
                <File Id="filV0ApP_4w7xcyiwN57pEtSWUJQqw" KeyPath="yes" Source="$(var.Libsx86Path)\avformat-58.dll" />
            </Component>
            <Component Id="cmp9.h2iWgGGigR4TXQkOed.oycdPc" Guid="{83992783-567F-49B4-B907-071157040DCB}">
                <File Id="filbw4j0VO.5z2zl0VMX_QMAvCDiv4" KeyPath="yes" Source="$(var.Libsx86Path)\avutil-56.dll" />
            </Component>
            <Component Id="cmpy8MAKJwt0hlO97lMWuzcuOR0P8I" Guid="{14751B66-3685-49F0-8A4E-FAE8734EBC3D}">
                <File Id="filuwzvMrDZB1dt.p2Tm9d4.tBFisc" KeyPath="yes" Source="$(var.Libsx86Path)\postproc-55.dll" />
            </Component>
            <Component Id="cmp3cqUlxnzkxxjzqCC3LZqj_CkLAA" Guid="{4206ED70-CFCC-4CE7-8BD3-36E22B78E88E}">
                <File Id="filcgQQssHRMUwa74_138w6Qwcxdyo" KeyPath="yes" Source="$(var.Libsx86Path)\swresample-3.dll" />
            </Component>
            <Component Id="cmpxlso5mVwK5vZFDw1AQiFhHbCrsg" Guid="{EDBD4158-8BFB-4DF1-A199-EA98BD035449}">
                <File Id="fil.lDpSuMkVBa2uI3i.R1ZdA6T5IQ" KeyPath="yes" Source="$(var.Libsx86Path)\swscale-5.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedLibsx86">
            <ComponentRef Id="cmpTsqkWWnD6sU9UXbWBcyDaxtn3Us" />
            <ComponentRef Id="cmppS96YzvvII2y6nivmzWRJ2LlFtI" />
            <ComponentRef Id="cmpGbFZw4DWdKEnSSWrdBTFtiGrlTo" />
            <ComponentRef Id="cmp9.h2iWgGGigR4TXQkOed.oycdPc" />
            <ComponentRef Id="cmpy8MAKJwt0hlO97lMWuzcuOR0P8I" />
            <ComponentRef Id="cmp3cqUlxnzkxxjzqCC3LZqj_CkLAA" />
            <ComponentRef Id="cmpxlso5mVwK5vZFDw1AQiFhHbCrsg" />
        </ComponentGroup>
    </Fragment>
</Wix>