.App {
    font-family: sans-serif;
    text-align: center;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100px 0;
    }
}

.chat {
    max-width: 600px;
    margin: 2rem auto;
    text-align: left;
}

.chat-box {
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/*video player styles*/

.video-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.chat-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 320px;
    height: calc(100% - 80px);
    background: rgba(25, 25, 25, 0.4);
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 8px;
    border-radius: 15px;
    box-sizing: border-box;
}

.chat-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-online {
    background: orange;
    border-radius: 16px;
    padding: 2px 10px;
    color: #222;
    font-size: 0.9em;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 12px;
}

.chat-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between controls */
}

    .chat-controls > * {
        flex: 1; /* Each control fills the width equally */
        max-width: 300px; /* Optional: Limit the width of individual controls */
    }

    .chat-controls input[type="text"] {
        flex: 4; /* Make the input field larger */
    }

.controls-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(20,20,20,0.88);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 24px 8px 0px;
    z-index: 2;
}

    .controls-bar .seekbar {
        flex: 1;
        margin: 0 12px;
    }

    .controls-bar .time {
        color: #fff;
        font-size: 0.9rem;
        margin: 0 8px;
    }

.volume-controls {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push volume controls to the end */
}

    .volume-controls .MuiSlider-root {
        margin-left: 8px;
    }
