<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mobee.Client.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mobee.Client.WPF.Properties.Settings>
            <setting name="LOG_FILE" serializeAs="String">
                <value>log.{0}.txt</value>
            </setting>
            <setting name="LOG_VERBOSE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEFAULT_LOG_FILE" serializeAs="String">
                <value>log.{0}.txt</value>
            </setting>
            <setting name="SERVER_BASEURI" serializeAs="String">
                <value>https://localhost:7016</value>
            </setting>
            <setting name="LAST_MEDIA_FILE" serializeAs="String">
                <value />
            </setting>
        </Mobee.Client.WPF.Properties.Settings>
    </userSettings>
</configuration>